@media (min-width: 1200px){
  .container {
      max-width: 1240px;
  }
}
.main-carousel {
  box-shadow: 0 0 5px rgba(0, 0, 0, .36);
  border: solid 2px #fff;
  border-radius: 15px;
  background-color: $active-color;
  overflow: hidden;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 25px;

  @include xl {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    height: 400px;
  }
  .carousel-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;

    @include xl {
      flex-direction: column;
      justify-content: center;
      padding: 30px;
    }
    @include rwd(1440){
      height: 350px;
    }
    .btn-white {
      @include xl {
        display: none;
      }
    }

    .img {
      img {
        @include xl {
          max-width: 250px;
        }
        @include lg{
          max-width: 100%;
          bottom: 0;
          left: 0;
          position: absolute;
        }
      }
    }
  }

  .carousel-inner {
    height: 100%;

    .carousel-item {
      height: 100%;
      .img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      .text{
        position: relative;
        z-index: 2;
        @include rwd(1440){
          padding: 50px;
        }
        @include lg{
          position: absolute;
          top: 0;
          padding: 15px 0;
        }
      }
    }
  }

  h1 {
    font-family: $font-raleway;
    font-size: 3.857rem;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .33);
    max-width: 50%;

    @include xl {
      font-size: 2rem;
      text-align: center;
    }
    @include rwd(1440){
      font-size: 2.142rem;
    }
    @include lg{
      text-align: center;
      max-width: 100%;
      font-size: 1.714rem;
    }
  }

  p {
    font-size: 2.142rem;
    color: #ffde92;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .33);
    line-height: 38px;
    max-width: 50%;
    @include rwd(1440){
      font-size: 1.714rem;
    }

    @include xl {
      font-size: 1rem;
      text-align: center;
      line-height: normal;
      max-width: 100%;
      padding: 10px;
    }
  }

  .carousel-indicators {
    bottom: 10px;

    @include xl {
      bottom: 0;
    }

    li {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background-color: transparent;
      border: 1px solid #fff;
      transition: all .3s ease;

      &.active,
      &:hover {
        background-color: #fff;
        border-color: #fff;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    @include xl {
      display: none;
    }
  }
}

.carousel {
  .mini-slider-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    img {
      width: 350px;
      margin: 0 auto;
    }
  }
  .carousel-item{
    .carousel-content{
      .img{
        @include xl{
          display: none
        }
        &.mobile{
          display: none;
          @include xl{
            display: block;
          }
        }
      }
    }
  }
}

.box-wrap {
  display: flex;
  margin-top: 200px;

  @include xl {
    margin: 20px;
    flex-direction: column;
  }

  .box {
    width: 50%;

    @include xl {
      width: 100%;
      margin-bottom: 20px;
    }

    &:first-child {
      margin-right: 30px;
    }
    h2{
      text-transform: uppercase;
      font-weight: 800;
      font-size: 2.142rem;
      a{
        color: $color-light-gray;
        transition: all .3s ease;
        font-size: 14px;
        font-weight: 500;
        &:hover{
          color: $active-color;
        }
      }
    }
    &.red-bg {
      h2 {
        max-width: 235px;
      }
    }
    &.dark-bg{
      h2{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.box {
  border-radius: 10px;
  padding: 30px;
  height: 570px;
  overflow: hidden;
  font-family: $font-raleway;
  position: relative;

  &.red-bg {
    border: solid 1px #bb151f;
    box-shadow: 3px 5px 8px rgba(236, 81, 92, .32);

    .btn-border {
      margin-top: 15px;
      font-size: 0.928rem;

      &:hover {
        background-color: #fff;

        i {
          position: relative;
          right: -5px;
        }
      }
    }
  }

  .bg-pattern {
    position: absolute;
    top: -50%;
    right: -50%;
    z-index: 1;
  }

  .box-img-flyer {
    position: absolute;
    right: -35px;
    bottom: -100px;
  }

  h3 {
    font-family: $font-raleway;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5rem
  }
}

#box-slider {
  .carousel-indicators {
    bottom: -60px;

    li {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background-color: transparent;
      border: 1px solid #fff;
      transition: all .3s ease;

      &.active,
      &:hover {
        background-color: #bcbcbc;
        border-color: #bcbcbc;
      }
    }
  }

  p {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 1.428rem;
    margin-bottom: 0;

    &:last-child {
      font-size: 1.285rem;
      font-weight: 600;
    }
  }
}

.pagination {
  justify-content: center;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    border: solid 1px #e8e8e8;
    box-shadow: 0 0 9px rgba(0, 0, 0, .05);
    border-radius: 6px;

    li {
      a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: solid 1px #e8e8e8;
        color: $active-color;
        transition: all .3s ease;

        &.active,
        &:hover {
          background-color: $active-color;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  .container {
    @include xl {
      padding: 0;
    }

    .subpage-header{
      @include xl{
        padding: 0 20px;
      }
      h2 {
        text-transform: uppercase;
        color: $active-color;
        font-size: 2rem;
        font-weight: 800;
        font-family: $font-raleway;
        margin-top: 40px;
        @include xl{
          font-size: 1.571rem;
        }
      }

      p {
        color: $color-light-gray;
        max-width: 85%;
        margin-bottom: 40px;
      }
    }
  }
}
//Content
.content-wrapper {
  background-color: #fefefe;
  display: flex;
  padding: 20px;
  box-shadow: 0 0 6px rgba(214, 214, 214, .56);
  border-radius: 9px;
  margin-top: 40px;

  @include xl {
    padding: 0;
    margin-top: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .sidebar {
    flex-grow: 1;
    max-width: 220px;
    min-width: 200px;
    border-right: 1px solid $border-color-gray;
    padding: 0 30px 30px 0;

    @include xl {
      display: none;
    }
  }

  .content {
    padding: 0 30px;

    @include xl {
      padding: 0;
      width: 100%;
    }

    .item {
      @include xl {
        flex-direction: column;
        border-bottom: 1px solid $border-color-gray;
        padding: 20px;
        margin-bottom: 20px;
      }

      &:nth-child(odd) {
        @include xl {
          flex-direction: column;
        }
      }
    }
  }
}

.content {
  width: 100%;
  h1 {
    margin-bottom: 50px;
    font-family: $font-raleway;
    text-transform: uppercase;
    font-weight: 600;

    @include xl {
      font-size: 1.571rem;
      margin-bottom: 0;
      margin-top: 20px;
    }
  }

  .item {
    display: flex;
    margin-bottom: 90px;
    justify-content: space-around;
    &:nth-child(odd) {
      flex-direction: row-reverse;
      justify-content: space-around;
      .img {
        margin-right: 0;
        margin-left: 25px;
        width: 300px;
        @include xl {
          margin-left: 0;
          margin: 0 auto;
        }

        img {
          width: 100%;
        }
      }
    }

    .img {
      margin-right: 25px;

      @include xl {
        margin-bottom: 20px;
        margin: 0 auto;
      }

      img {
        max-width: 300px;

        @include xl {
          max-width: 250px !important;
        }
      }
    }

    .features {
      h4 {
        color: $active-color;
        margin-bottom: 20px;

        @include xl {
          margin-bottom: 10px;
          margin-top: 15px;
        }
      }

      ul {
        margin: 0 0 0 20px;
        padding: 0;

        p {
          margin-top: 20px;

          @include xl {
            margin-left: -15px;
          }

          img {
            max-width: 275px;
          }
        }
      }
    }
  }
  &.subpage{
    clear: both;
    padding: 20px;
    h4{
      text-transform: uppercase;
      font-weight: 800;
      border-bottom: 1px solid $border-color-gray;
      padding-bottom: 15px;
      margin-bottom: 25px;
    }
    h5{
      color: $active-color;
      font-style: italic;
    }
    .content-img{
      margin: 0 30px 30px 0;
      float: left;
      width: auto;
      @include xl{
        margin: 0  auto;
      }
    }
    .strong{
      font-weight: 800;
      font-style: italic;
    }
    .content-img-with-text{
      height: 165px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
      h2{
        font-weight: 800;
        font-size: 2.5rem;
        @include xl{
          font-size: 1.428rem;
        }
      }
    }
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  @include xl{
    padding: 25px;
  }
  .product-box-wrap {
    margin: 0 20px 20px 0;
    width: calc(33% - 15px);
    @include xl{
      width: 100%;
      margin: 0 0 20px 0;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }

    .styled-checkbox+label {
      width: 100%;
      text-align: center;
    }
    .product-box{
      .img{
        height: 150px;
        img{
          max-height: 125px;
        }
      }
    }
  }
  &.colum-4{
    margin-top: 50px;
    @include xl{
      display: none;
    }
    .product-box-wrap{
      width: calc(25% - 20px);
      &:nth-child(3n) {
        margin-right: 20px;
      }
    }
  }
}

.product-box {
  padding: 30px 30px 0 30px;
  box-shadow: 0 0 9px rgba(0, 0, 0, .05);
  border: solid 1px #e8e8e8;
  border-radius: 9px;
  background-color: #fff;
  margin-bottom: 30px;
  .img{
    text-align: center;
  }
  .product-features{
    ul{
      li{
        margin: 10px 0;
        padding: 0;
        justify-content: center;
      }
    }
  }
}

.product-features {
  h6 {
    text-align: center;
    margin-top: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      text-align: center;
    }
  }

  .btn {
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: -15px;
    max-width: 130px;
  }
}
.product-properties-tab{
  .nav{
    .nav-link{
      color: $dark-gray;
      text-transform: uppercase;
      font-size: 1.285rem;
      transition: all .3s ease;
      &:hover{
        color: $color-black;
      }
      &.active{
        color: $color-black;
        font-weight: 800;
        border-bottom: 1px solid $color-black;
      }
    }
  }
  .tab-content{
    padding: 50px 25px;
    @include xl{
      padding: 25px;
    }
  }
  .tab-inner-wrap{
    border-left: 2px solid $border-color-gray;
    padding-left: 50px;
    @include xl{
      border: 0;
      padding-left: 0;
    }
    .technical-features{
      .features-box{
        position: relative;
        &:after{
          content: "\f00c";
          font-family: 'FontAwesome';
          position: absolute;
          left: -75px;
          top: 0;
          background-color: $active-color;
          width: 50px;
          height: 50px;
          line-height: 50px;
          border-radius: 100%;
          color: #fff;
          font-size: 1.428rem;
          text-align: center;
          @include xl{
            display: none;
          }
        }
      }
    }
  }
}
//Sidebar
.sidebar {
  h6 {
    color: $active-color;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid $border-color-gray;
    padding: 20px 0;

    &:first-child {
      border-top: 1px solid $border-color-gray;
    }

    li {
      display: flex;
      align-items: center;

      &:first-child {
        color: $active-color;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }
  }
}
// subpage sidebar
.subpage-sidebar{
  width: 250px;
  min-width: 200px;
  h3{
    padding: 15px 20px;
    background-color: $active-color;
    color: #fff;
    font-size: 1.428rem;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 9px 9px 0 0;
    margin-bottom: 0;
    @include xl{
      display: none;
    }
  }
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-right: 0;
    li{
      border: 1px solid $border-color-gray;
      border-bottom: 0;
      &:last-child{
        border-bottom: 1px solid $border-color-gray;
      }
      a{
        display: flex;
        padding: 10px 15px;
        color: $color-dary-gray;
        transition: all .3s ease;
        position: relative;
        &:hover,
        &.active{
          background-color: $light-gray;
          text-decoration: none;
        }
        i{
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          color: $color-light-gray;
          font-size: 0.714rem;
          display: none;
        }
      }
    }
  }
  .nav-tabs{
    .nav-item{
      margin-bottom: 0;
      margin-top: 0!important;
      .nav-link{
        &.active{
          border: 0;
          margin-right: 0;
          border-radius: 0;
          background-color: $light-gray;
          i{
            display: block;
          }
        }
      }
      .nav-link{
        &.active{
          position: relative;
          &:after{
            content: "\f054";
            font-family: 'FontAwesome';
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0.785rem;
            color: $color-light-gray;
          }
        }
      }
    }
  }
  ~.tab-content{
    width: 100%;
    .tab-pane{
      .collapse{
        .content{
          &.subpage{
            padding: 20px 30px;
          }
        }
      }
      .card-header{
        @include xl{
          height: 60px;
          display: flex;
          align-items: center;
        }
        h5{
          width: 100%;
          a{
            position: relative;
            display: block;
            height: 60px;
            line-height: 60px;
            font-weight: 800;
            i{
              font-size: 1rem;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
// buttons
.btn-primary {
  background-color: $active-color;
  border-color: $active-color;
  border-radius: 18px;
  font-size: 0.928rem;
  font-weight: 400;
  padding: 3px 16px;
  box-shadow: 3px 5px 8px rgba(236, 81, 92, .32);
  letter-spacing: 2px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: darken($active-color, 10);
    border-color: $active-color;
  }
}

.btn-border {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-white {
  background-color: #f3f3f3;
  box-shadow: 0 0 38px rgba(255, 255, 255, .67);
  border: solid 1px #d62631;
  color: #d62631;
  width: 100%;
  max-width: 285px;
  height: 60px;
  text-transform: uppercase;
  border-radius: 30px;
  transition: all .3s ease;
  letter-spacing: 2px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);

    i {
      position: relative;
      right: -5px;
    }
  }
}

.btn-search {
  display: none;

  @include xl {
    display: block
  }
}
//Compare
.compare {
  max-width: 250px;
  position: fixed;
  top: 175px;
  right: 0;
  box-shadow: 0 0 9px rgba(0, 0, 0, .05);
  border: solid 1px #e8e8e8;
  border-radius: 9px;
  background-color: #fff;
  z-index: 19;
  transition: all .3s ease;
  &.hide{
    max-width: 0;
    .content{
      opacity: 0;
    }
    .btn-hide{
      left: -49px;
    }
  }
  .content{
    padding: 20px;
    text-align: center;
  }
  .product-box{
    padding: 20px 20px 0 20px;
    margin-bottom: 10px;
    position: relative;
    .img{
      img{
        max-width: 125px;
      }
    }
    .product-features{
      h6{
        font-size: 13px;
      }
    }
    .remove-btn{
      background-color: transparent;
      position: absolute;
      right: 10px;
      top: 10px;
      color: #e8e8e8;
      font-size: 1.428rem;
      border: 0;
      transition: all .3s ease;
      &:hover{
        color: $active-color;
      }
    }
  }
  .btn-primary{
    margin: 10px 0 0;
  }
  .btn-text{
    transition: all .3s ease;
    color: #a4a4a4;
    &:hover{
      color: $active-color;
    }
  }
  .btn-hide{
    width: 50px;
    height: 185px;
    position: absolute;
    left: -51px;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 18px 0 0 18px;
    span{
      transform: rotate(-90deg);
      display: flex;
      align-items: center;
      justify-content: center;
      .fa{
        position: relative;
        right: -10px;
      }
      i{
        transition: all .3s ease;
        &.icon-rotate{
          transform: rotate(180deg);
        }
      }
    }
    p{
      margin: 0;
    }
  }
}
// Product Carousel
.prooduct-carousel{
  .carousel{
    .list-inline{
      white-space:nowrap;
      overflow-x:auto;
    }
    .carousel-indicators{
      width: 100%;
      position: static;
      left: initial;
      margin-left: initial;
      li{
        width: initial;
        height: initial;
        text-indent: initial;
        &.active{
          img{
            opacity: .7;
          }
        }
      }
    }
  }
}
// Technical Features
.technical-features{
  .features-box{
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 15px;
    margin-bottom: 20px;
    h6{
      font-weight: 800;
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        border: 1px solid $border-color-dark-gray;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        padding: 0 20px;
        @include xl{
          padding: 0;
        }
        &:last-child{
          border-bottom: 1px solid $border-color-dark-gray;
        }
        span{
          padding: 5px;
          &:first-child{
            width: 30%;
            display: inline-block;
            border-right: 1px solid $border-color-dark-gray;
            @include xl{
              width: 40%;
            }
          }
        }
      }
    }
  }
}
.page-header{
  font-size: 2.142rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}
// vertical tabs
$padding-base: 15px;
$color-body: #fff;
$color-border: #ddd;
$color-link: #0275d8;
$border-radius: .25rem;

.nav-tabs {
	&--vertical {
		border-bottom: none;
		border-right: 1px solid $color-border;
		display: flex;
		flex-flow: column nowrap;
	}

	&--left {
		margin: 0 $padding-base;

		.nav-item + .nav-item {
			margin-top: .25rem;
		}

		.nav-link {
			transition: border-color .125s ease-in;
			white-space: nowrap;

			&:hover {
				background-color: lighten($color-border, 10%);
				border-color: transparent;
			}
		}

		.nav-link.active {
			border-bottom-color: $color-border;
			border-right-color: $color-body;
			border-bottom-left-radius: $border-radius;
			border-top-right-radius: 0;
			margin-right: -1px;

			&:hover {
				background-color: $color-body;
				border-color: $color-link $color-body $color-link $color-link;
			}
		}
	}
}
//bootstrap tab to accordion
.tab-wrapper{
  display: flex;
  flex-direction: row;
  @include xl{
    flex-direction: column;
  }
  .fade:not(.show){
    opacity: 1;
  }
}
.nav-tabs {
  display:none;
}

@media(min-width:768px) {
  .nav-tabs {
      display: flex;
  }

  .card {
      border: none;
  }

  .card .card-header {
      display:none;
  }

  .card .collapse{
      display:block;
  }
}

@media(max-width:767px){
  .tab-pane {
      display: block !important;
      opacity: 1;
      border: 0;
      border-radius: 0;
      &.active{
        .card-header{
          background-color: $active-color;
        }
      }
      .card-header{
        border: 0;
        border-radius: 0;
        background-color: $dark-gray-2;
        h5{
          a{
            color: #fff;
          }
        }
      }
  }
}

form{
  .form-control{
    height: 50px;
    line-height: 50px;
    border: 1px solid $border-color-gray;
    border-radius: 9px;
    padding: 15px 30px;
    &::placeholder {
      color: #a4a4a4;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: #a4a4a4;
    }
    &::-ms-input-placeholder {
      color: #a4a4a4;
    }
    &.address{
      height: 200px;
      resize: none;
    }
  }
  .form-group{
    margin-bottom: 10px;
    &.checkbox{
      margin: 25px 0;
    }
  }
  .form-column{
    display: flex;
    .form-group{
      &:first-child{
        margin-right: 10px;
      }
    }
    > * {
      flex-grow: 1;
    }
  }
}

.custom-selectbox{
  position: relative;
  &:after{
    content: "\f078";
    font-family: "FontAwesome";
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #a4a4a4;
  }
  .form-control{
    -webkit-appearance: none;
    padding: 0 30px;
  }
}
.phone-text{
  font-size: 35px;
  font-weight: 800;
  color: $active-color;
}
.border-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  li{
    border: 1px solid $border-color-gray;
    border-radius: 10px;
    padding: 15px 30px;
    margin-bottom: 20px;
    h6{
      color: $active-color;
      text-transform: uppercase;
    }
  }
}
.catalog{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .box{
    width: calc(50% - 10px);
    border-radius: 9px;
    box-shadow: 3px 5px 8px rgba(236,81,92,.32);
    border: solid 1px #bb151f;
    background-color: $active-color;
    color: #fff;
    height: auto;
    &:nth-child(n){
      margin-right: 20px;
      margin-bottom: 20px;
      h6{
        color: #b7b7b7;
        font-size: 0.857rem;
      }
    }
    &:nth-child(2n){
      background-color: #999;
      box-shadow: 3px 5px 8px rgba(153,153,153,.32);
      border: solid 1px #828282;
      margin-right: 0;
      h6{
        color: #afafaf;
        font-size: 0.857rem;
      }
    }
    h4{
      border-bottom: 0;
      max-width: 200px;
    }
    .flyer{
      position: absolute;
      right: 0;
      bottom: -40px;
      img{
        max-width: 150px;
      }
    }
  }
}
// Helper Classes
.margin-top-element{
  margin-top: 50px;
}
.btn-lg, .btn-group-lg > .btn{
  padding: 0.5rem 1rem!important;
}
.active-color{
  color: $active-color;
}
.content-img{
  width: 100%;
}
.mobile-hide{
  @include xl{
    display: none;
  }
}
#splashScreen{
  //ackground: url("../img/loader.svg") no-repeat scroll center center $color-black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: #343a40;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  .loader-gif{
    img{
      width: 100px;
    }
  }
  h5{
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 25px;
  }
  .splash-screen-center{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.prooduct-carousel{
  width: 450px;
  padding: 0 30px 0!important;
  ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
  }
  li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
  }
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}
.general-properties{
  margin: 0;
  padding:0;
  li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    @include lg{
      flex-direction: column;
      position: relative;
    }
    &:nth-child(odd){
      flex-direction: row-reverse;
      @include lg{
      flex-direction: column;
      }
      .text{
        padding-right: 75px;
        @include lg{
          padding-right: 0;
        }
      }
    }
    &:nth-child(even){
      .text{
        padding-left: 75px;
        @include lg{
          padding-left: 0;
        }
      }
    }
    .img{
      padding: 20%;
      border: 1px solid #dedede;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      @include lg{
        padding: 30px;
        width: 100%;
        height: 200px;
      }
    }
    span{
      display: inline-block;
      width: 50%;
      img{
        width: 300px;
        @include lg{
          width: 100%;
        }
      }
      &.text{
        padding: 0;
        width: 100%;
      }
    }
    h3{
      color: $active-color;
      text-transform: uppercase;
      font-size: 32px;
      margin-bottom: 30px;
      font-weight: 700;
      height: 100px;
      @include lg{
        font-size: 19px;
        padding-left: 70px;
        padding-top: 13px;
        margin-bottom: 0;
      }
    }
    h6{
      font-size: 20px;
      line-height: 1.6em;
      font-weight: 700;
      margin-bottom: 20px;
      @include lg{
        font-size: 16px;
      }
    }
    .list-number{
      box-shadow: 0 6px 20px 0 rgba(223,32,39,.2);
      width: 100px;
      height: 100px;
      font-size: 60px;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      color: $active-color;
      font-weight: 700;
      @include lg{
        left: 25px;
        width: 50px;
        height: 50px;
        font-size: 32px;
        top: calc(50% - 13px);
      }
    }
  }
}
.product-properties-tab .product-list{
  margin: 0 -75px -75px;
  padding: 65px 0;
  list-style-type: none;
  background-color: #f2f2f2;
  @include lg{
    margin: 0 -25px;
  }
  li{
    @include lg{
      margin: 10px 10px;
      padding: 25px 10px;
    }
  }
}
.product-list{
  margin:0 -30px 0 0;
  @include lg{
    margin: 0;
  }
  li{
    display: flex;
    margin: 10px 0;
    padding: 25px;
    width:100%;
    background-color: #fff;
    margin: 0 75px 10px 75px;
    .img-box{
      width: 70px;
      height: 70px;
      border: solid 1px #e8e8e8;
      padding: 10px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
#telefunken-carousel{
  .carousel{
    .carousel-item{
      .carousel-content{
        position: relative;
        .text{
          @include xl{
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}
//Pages
.products-detail-page{
  display: flex;
  @include lg{
    flex-direction: column;
  }
  .prooduct-carousel{
    width: 50%;
    padding: 30px;
    @include lg{
      width: 100%;
    }
  }
  .product-features-wrap{
    width: 50%;
    @include lg{
      width: 100%;
    }
    .product-features{
      background-color: #f0f0f0;
      border-radius: 3px;
      padding: 30px 50px;
      h6{
        margin-bottom: 0;
        color: $color-light-gray;
      }
      .features-header{
        color: $active-color;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        h3{
          margin-bottom: 0;
          font-weight: 800;
        }
        .btn-share{
          color: $active-color;
          bottom: 0;
        }
      }
      .features-list{
        background-color: $light-gray;
        list-style-type: disc;
        border-top: 1px solid $border-color-gray;
        padding-top: 10px;
        li{
          line-height: 28px;
          text-align: left;
        }
      }
    }
    p{
      margin-top: 20px;
      text-align: center;
    }
  }
}
.call-center{
  display: flex;
  align-items: center;
  color: $color-dary-gray;
  > * {
    margin-right: 5px;
  }
  span{
    &:nth-child(2){
      text-transform: uppercase;
      font-weight: 400;
      display: inline-block;
      width: 60px;
      font-size: 0.857rem;
      line-height: normal;
    }
    &:last-child{
      font-size: 1.857rem;
      border-left: 1px solid $color-dary-gray;
      padding-left: 5px;
      @include lg{
        font-size: 24px;
      }
    }
  }
}
.lSAction > a{
  z-index: 90
}
