
.footer{
  max-width: 1600px;
  margin: 50px auto 0 auto;
  padding: 50px 0 0;
  border: solid 1px #dedede;
  border-bottom: 0;
  background-color: $dark-gray-2;
  border-radius: 15px;
  @include xl{
    margin-top: 20px;
    border-radius: 0;
    padding: 0;
    border: 0;
  }
  .footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    @include xl{
      flex-direction: column-reverse;
      padding-top: 20px;
    }
    .call-center{
      color: #757575;
      @include xl{
        border-bottom: 1px solid #464646;
        padding-bottom: 15px;
      }
    }
  }
  .footer-logo{
    @include xl{
      padding-top: 20px;
    }
  }
  .footer-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;
    @include xl{
      flex-direction: column;
    }
    .red-box{
      height: 210px;
      flex-grow: 1;
      color: #fff;
      margin-right: 30px;
      width: 33.33%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0 18px rgba(0,0,0,.21);
      border: solid 1px #e64e59;
      position: relative;
      overflow: hidden;
      @include xl{
        width: 100%;
        margin: 10px;
      }
      &:last-child{
        margin-right: 0;
      }
      h5{
        margin-top: 25px;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        z-index: 2;
      }
      .box-bg-pattern{
        position: absolute;
        right: -10px;
        bottom: -20px;
        opacity: .4;
      }
      .box-img{
        position: relative;
        z-index: 2;
      }
    }
  }
}
.footer-menu{
  display: flex;
  justify-content: space-between;
  @include xl{
    flex-direction: column;
  }
  ul{
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
    li{
      line-height: 30px;
      &:first-child{
        text-transform: uppercase;
        color: #e4e4e4;
        margin-bottom: 5px;
        font-size: 1.285rem;
        font-weight: 600;
      }
      a{
        color: #fff;
        transition: all .3s ease;
        &:hover{
          color: $active-color;
          text-decoration: none;
        }
      }
    }
  }
}
.copyright{
  font-size: 1.214rem;
  color: #757575;
  background-color: #232323;
  border-radius: 0 0 15px 15px;
  margin-top: 30px;
  @include xl{
    border-radius: 0;
  }
  p{
    text-align: center;
    margin: 0;
    padding: 20px 0;
    @include xl{
      font-size: 0.857rem;
    }
  }
}
