// General Style
body{
  font-family: $font-raleway;
  font-size: 14px;
  background-color: $body-bg;
  color: $color-black;
}

// custom checkbox
.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: $light-blue;
    border: 1px solid rgba(161,191,233,.55);
  }

  // Box hover
  &:hover + label:before {
    background: #e3e7ec;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #e8ecf1;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: $active-color;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 $active-color,
      4px 0 0 $active-color,
      4px -2px 0 $active-color,
      4px -4px 0 $active-color,
      4px -6px 0 $active-color,
      4px -8px 0 $active-color;
    transform: rotate(45deg);
  }
}
//component
.input-with-button{
  display: flex;
}



.dark-bg{
  background-color: #292929;
  color: #fff;
}
.red-bg{
  background-color: #d62631;
  color: #fff;
}
.opacity-text{
  color: #f7f7f7;
  opacity: .4;
}

.red-box{
  background-color: $active-color;
  border: solid 1px #e64e59;
  box-shadow: 0 0 18px rgba(0,0,0,.21);
  border-radius: 9px;
}


