//header-top
.header-top-wrap{
  padding: 30px 0;
  @include lg{
    padding: 0;
  }
  .header-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include lg{
      flex-direction: column;
      .call-center{
        display: none;
      }
    }
    .input-group{
      max-width: 350px;
      input{
        border-radius: 20px 0 0 20px;
      }
      button{
        border-radius: 0 20px 20px 0;
        background-color: $dark-gray;
        color: #fff;
        border: 0;
        i{
          margin-right: 5px;
          position: relative;
          top: -2px;
        }
      }
    }
  }
}
.navbar-toggler{
  border: 0;
  color: #fff;
  @include xl{
    padding: 0;
    width: 60px;
    height: 60px;
  }
  &:focus{
    border-color: transparent;
    outline: none;
  }
}
.desktop-logo{
  @include xl{
    display: none;
  }
}
.mobile-logo{
  display: none;
  @include xl{
    display: block;
  }
}
//Navbar
.navbar{
  background: url("../img/navbar-bg.png") no-repeat center center;
  background-position: top -100px right 50%;
  @include lg{
    background: transparent;
    padding: 0;
    height: 60px;
  }
  .nav-item{
    &.active{
      .nav-link{
        color: $active-color;
        font-weight: 700;
        border-bottom: 1px solid;
        padding-bottom: 1px;
      }
    }
  }
  .nav-link{
    text-transform: uppercase;
  }
  .navbar-nav{
    width: 100%;
    justify-content: space-around;
  }
  .navbar-collapse{
    margin: 0 150px;
    @include xl{
      margin: 0;
      position: relative;
      z-index: 99;
      background-color: #343a40;
    }
    .nav-link{
      @include xl{
        text-align: center;
      }
    }
  }
}
.navbar-expand-md{
  .container{
    display: flex;
    justify-content: space-between;
  }
  .btn-search{
    color: #fff;
    font-size: 1.428rem;
    height: 60px;
    width: 60px;
  }
}
.header-search-wrap{
  display: flex;
}
.header-search{
  @include xl{
    display: none;
    max-width: 100%!important;
    position: absolute;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 9;
    transition: all .3s ease;
  }
  input{
    @include xl{
      border-radius: 0!important;
    }
  }
  .btn-outline-secondary{
    display: flex;
    align-items: center;
    @include xl{
      border-radius: 0!important;
    }
  }
  &.open{
    height: auto;
  }
}

.breadcrumb{
  height: 50px;
  background-color: #eee;
  box-shadow: 0 1px #d7d7d7;
  padding: 0;
  @include xl{
    display: none;
  }
  ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    li{
      margin-right: 25px;
      position: relative;
      &:last-child{
        &::after{
          content: none;
        }
      }
      &:after{
        content: ">";
        position: absolute;
        right: -15px;
        top: 0;
        color: $color-light-gray;
      }
      a{
        display: block;
        color: $color-light-gray;
        transition: all .3s ease;
        &:hover{
          color: $active-color;
        }
      }
    }
  }
}
