// Variables
// Font Color
$color-dary-gray: #757575;
$color-light-gray: #9c9c9c;
$color-black: #191717;
$active-color: #d62631;

// Colors variables
$dark-gray: #606060;
$dark-gray-2: #2e2e2e;
$light-blue: #e8ecf1;
$light-gray: #f0f0f0;

// Border colors
$border-color-gray: #e6e6e6;
$border-color-dark-gray: #d2d2d2;
// General colors
$body-bg: #f5f7fa;

$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;;
